<div id="container"><div id="rotator_wrapper"><ul id="rotator"><li id="photo_1"><p>
Note that I cover the topic, in the 'Man' book
in the section entitled 'Free will answers
the most complicated questions about life'.</p></li><li id="photo_2"><p>
Definition:
  - I say that something is of 'the mind kind', if it
    is based on the pattern of thinking, that is, 
    on the convictions, beliefs and views 
    that one holds in their mind, but only in the
    case where every action in the real world can
    be traced back to the pattern of thinking in
    one's mind.
 
    
Love is 'the bondage that exists between like-minded 
beings whose actions fully comply with their mind'. 
The services they trade to one another in that bondage
will then typify the love, making it either sensual
(lovers), brotherly or friendly.</p></li><li id="photo_3"><p>
That explains why you most certainly end up hating 
someone if you bonded with them on any other basis 
than their mind. So, learn to like people's way
of thinking, first. Then check whether their 
thoughts are true or not (the most difficult). 
Finally, check whether they are loyal to their 
thoughts in their daily actions.</p></li><li id="photo_4"><p>What about when your heart goes out to total
strangers in  their adversity? It is triggered
by love you have developed for some principle,
like, 'we owe everything to somebody out there, 
so using what we have to help others is the
logical effect of that fact'. Such qaulities
as mercy, loving kindness, must result from
the kind of love I've defined. The other way
around (love that results from mercy) 
will make it fake, eventually. So if you ever 
feel merciful, ask yourself if it's coming from 
love, otherwise people will deceive you.</p></li><li id="photo_5"><p>
Note that love cannot be isolated. It must be 
balanced with wisdom and justice, for it to remain 
true (real).</p></li><li id="photo_6"><p>
That being said, the most powerful and lasting bondage is
of the mind kind. The natural love that one has for their 
parents (and vice-versa) or their siblings is the weakest 
of all. Proof is you end up falling in love with somebody
you have not known your whole life and love them more
than your parents and siblings, if the mutual attraction
is of the mind kind (i.e., you fell for the contents of
their mind and their devotion to it in the real life).</p></li><li id="photo_7"><p>
So bonds that exist between friends, marriage partners,
fellow believers, if they are of the mind kind, are the
most powerful and long-lasting. Note that I willingly
omit such point as whether one's pattern of thinking,
followed by actions, is correct or not. That is where
true love or fake love comes into picture. If you
bond with someone on the basis of wrong views you
hold in common, it's fake love and it will only
bring troubles.
</p></li></ul><a href="#" id="rotator_play_pause">PAUSE</a></div></div>