
<%= react_component('HelloWorld', {greeting: 'Hello from react-rails'}) %>
<div id="title-bar">
    <div class="site-logo">
        <h1> Laastras </h1>
    </div>
    <div class="site-title-text">
        <%= @site_title_text %>
    </div>
    <div class="site-language">
        <div class="language-logo">
            <h3> LANGUAGE LOGO </h3>
        </div>
    </div>
</div>
<div id="mission-section-card">
    <div class="mission-section-card-title">
        <h2> <%= @mission_section_card_title %> </h2>
    </div>
    <div class="mission-section-card-body">
    </div>
</div>
<div id="social-impact-section">
</div>
<div id="publication-section-card">
    <div class="publication-section-card-title">
        <h2> <%= @publication_section_card_title %> </h2>
    </div>
    <div class="publication-section-card-body">
    </div>
</div>
