
/*=====================================================================
*Media Queries
*====================================================================*/
/*--------------------------------------------------1200px
*/
@media (max-width: 1200px) {

	.page_wrapper.page_background {
		margin-top: -50px;
		position: relative;
	}
}
/*---------------------------------------------------980px
*/
@media (max-width: 980px) {
	.page_wrapper,
	.wide .page_wrapper {
		width: 80%;
	}
/* Set up all columns and padding as percentages */
	.columns_3111 > .third, .columns_321 > .third, .third { width: 31.66%; margin-left: 2.5%; }
	.third:first-child {margin-left: 0; }
	.columns_321 > .two_thirds { width: 65.84%; }
	.columns_312 > .two_thirds { width: 65.84%; }
	.columns_211 > .half {width: 48.75%; }
	.half.left {margin-right: 2.5%; }
	.sixth {width: 14.58%; margin-left: 2.5%;}
	.sixth:first-child {margin-left: 0; }
	.sidebar {clear: both; width: 100%; }
	.three_quarters {clear:both; width: 100%; }

	.page_wrapper.page_background {
		margin-top: 0;
		position: relative;
	}
	/* Tidy up related posts */
	.thumbs .half.left { width: 20%; }

	/*Clear the footer push*/
	#wrapper #content {
		padding-bottom: 20px; 
	}
	#wrapper #footer {
		height: auto;
		position: inherit;
		padding-bottom: 20px;
	}
	.controls ul li {
	margin-right: 10px;
	margin-bottom: 10px;
	}
	.page_wrapper {
	padding-top: 10px;
	}
	ul#menu-social-menu li {
	margin-bottom: 10px;
	}

}
/*---------------------------------------------------800px
*/
@media (max-width: 800px) {

	.quarter { clear:both; width: 100%; }
	.page_wrapper, .page_wrapper.page_background {
		padding-top: 20px;
	}
	.controls ul {
		text-align: left;
		}	
	.controls ul:after {
		display: block;
		}

	/* Main grid -> thirds */
	.brick {
	width: 31%;
	}
	.gridbreak {
	width: 31%;
	}
	.overlay_excerpt {
	display: none;
	}
}
/*--------------------------------------------------680px
*/
@media (max-width: 680px) {
/* Main grid -> halves */
	.brick {
	width: 48%;
	}
	.gridbreak {
	width: 48%;
	}
}

/*--------------------------------------------------620px
*/
@media (max-width: 620px) {
	.columns_3111 > .third { width: 100%; clear: both; margin-left: 0; }
	.third.left, .third.middle {margin-bottom:20px; }
	/* Tidy up related posts */
	.thumbs .half.left { width: 33%; }
	.third {clear:both; width: 100%; margin: 0; }
	#intro .half { clear: both; width: 100%; float: left; }
	#intro .menu_wrapper { float: left; }
	#intro ul {margin-left: 0; }
	ul#menu-social-menu li { margin: 0 10px 0 0; }

}

/*---------------------------------------------------450px
*/
@media (max-width: 450px) {
	.columns_321 > .two_thirds, .columns_321> .third {width: 100%; clear: both; margin-left: 0; }
	.columns_321 > .two_thirds { margin-bottom: 20px; }
	
}

/*======================================================================
* Mobile Nav Menu - remember the CSS cascade & don't forget to include jQuery
* ====================================================================*/
@media screen and (max-width: 570px) {
	
	#intro.page_wrapper {
		padding-top: 0;
	}
	/* nav-wrap - this ID is called by the jQuery function*/
	#nav_wrap {
			position: relative;
			clear: both;
			width: 100%;
		}
	/* menu icon */
	#menu_icon {
			color: #000;
			width: 42px;
			height: 30px;
			font-family: arial, sans-serif;
			background: image-url("mobmenuiconsmall.png") no-repeat 40px center;
			padding: 8px 20px 0 70px;
			cursor: pointer;
			display: block; /* show menu icon */
			margin-right: 20px;
		}
	
	/* main nav */
	#menu-main-menu.menu {display:none;}
	
	ul#menu-main-menu {
		clear: both;
		position: absolute;
		top: 38px;
		width: 100%;
		z-index: 10000;
		padding: 0 0 0 0;
		background: #fff;
		border-top: solid 1px #c8c8c8;
		border-bottom: 1px #c8c8c8;
		font-size: 20px;
		display: none;
	}
	ul#menu-main-menu.active {display: inline;}
	#menu-main-menu li {
		clear: both;
		float: none;
		color:#000;
		margin: none!important;
		padding: 5px 0 5px 10px;
		border-bottom: solid 2px #b0b0b0;
	}
	#menu-main-menu a, #menu-main-menu ul a {
		font: inherit;
		background: none;
		display: inline;
		padding: 0;
		color: #000;
		border-style:none;
	}
	#menu-main-menu li a {/* drop down menu text colour */
		color: #000;
	}
	#menu-main-menu a:hover, #menu-main-menu ul a:hover {
		background: none;
		color: #000!important;
	}
	/* dropdown */
	#menu-main-menu ul {
		width: auto;
		position: static;
		display: block;
		border: none;
		background: inherit;
	}
	#menu-main-menu ul li {
		color: #000;
		/*margin: 3px 0 3px 15px;*/
	}
	#menu-main-menu .menu-item {margin-right: 0px!important;}
}
@media screen and (min-width: 570px) {/* Brings menus back when browser enlarged*/
	#menu-main-menu {
		display: block!important;
	}
	
}
@media screen and (max-width: 400px) {
/* Main grid -> single */
	.brick {
	width: 98%;
	}
	.gridbreak {
	width: 98%;
	}
}

/*======================================================================
 * Clearfixes
 * ===================================================================*/
.columns_41111:after,
.post_box:after,
#footer:after,
.overlay_container:after,
.columns_431:after,
.thumbs:after,
.quarter:after,
.three_quarters:after,
.preview:after,
.menu_wrapper:after,
.columns_211:after,
.half:after,
.columns_3111:after,
.columns_1:after,
.jumbotron:after,
.third:after,
.jumbo_image:after,
.two_thirds:after,
.columns_321:after,
.columns_312:after,
.third:after,
.two_thirds:after,
.columns_6:after,
.wpcf7-form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
