
/* CSS */

#next_ann,
#prev_ann {
    color: #333;
    display: inline-block;
    font: normal bold 2.5em Arial,sans-serif;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: auto;
}

#next_ann,
#prev_ann { padding: 0.5em 1.5em }

#next_ann { text-align: right }

#next_ann:before,
#next_ann:after,
#prev_ann:before,
#prev_ann:after {
    background: #333;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    content: "";
    display: block;
    height: 0.5em;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1em;
}

#prev_ann:before,
#prev_ann:after { left: 0 }

#next_ann:before,
#prev_ann:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#next_ann:after,
#prev_ann:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#prev_ann:after,
#next_ann:before { margin-top: -.36em }

#next_ann:hover,
#next_ann:focus,
#prev_ann:hover,
#prev_ann:focus { color: #006400; cursor: pointer; }

#next_ann:hover:before,
#next_ann:hover:after,
#next_ann:focus:before,
#next_ann:focus:after,
#prev_ann:hover:before,
#prev_ann:hover:after,
#prev_ann:focus:before,
#prev_ann:focus:after { background: #006400; cursor: pointer; }

/* container styles  */

nav { text-align: center }    
