    
    <% @cache.delete_object(@e_s_key) %>
    <% @notice = 'Editing translation successfully completed. Many thanks!' %>
    <%= render 'notice' %>
    <div align="center">
        <%= link_to 'Dash home!', root_path %>
    </div>
