
    <% @notice = 'Translation successfully completed. Many thanks!' %>
    <%= render 'notice' %>
    <div align="center">
        <%= link_to 'Edit Translation', laaszen_task_edit_path %>
    </div>
