
<div class="centered site_search" data-role="content" data-theme="a">
    <%= form_for(
            :site_search, url: 'search', 
            html: {'data-role' => "fieldcontain", 'data-theme' => "b"}
        ) do |f|
    %>
        <%= f.text_field(
                :site_search_key, 
                value: sentence('Search Site'), 
                class: 'search round'
            ) 
        %>
    <% end %> 
</div>
