
            
<!-- FOOTER -->

                <div id="footer">
                    <ul><li> Sth1<li> Sth2 </ul>
                    <ul><li> Sth3<li> Sth4 </ul>
                    <ul><li> Sth5<li> Sth6 </ul>
                    <ul><li> Sth7<li> Sth8 </ul>
                </div>
        
<!-- END WRAPPER -->
