
            
<!-- CONTENT -->

            <div id="content" class="page_wrapper page_background">
                <div id="blog_content" class="columns_431">
                    <div class="three_quarters bottom_padding">
                        <div id="post-273" class="post_box top">
                            <%= render 'layouts/motto_text' %>
                        </div>
                        <div id="post-273" class="post_box top">
                            <%= render 'layouts/slide_text' %>
                        </div>
                    </div>
                    
<!-- QUATER SIDE BAR -->

                    <div class="quarter sidebar">
                        <%= render 'layouts/ann_text' %>
                    </div>
                </div>
            </div>