
<table class="excerpts" data-role="header" data-theme="b"> 
    <tr>
        <td><p> <STRONG> <%= motto %> </STRONG> </p></td>
    
        <td><p> 
        <STRONG> Announcement </STRONG> <br><br> 
        <%= progress %> 
        </p></td>
    </tr>
</table>
