
<div id="logo">
    <!-- --
    <h1><%= image_tag 'logo3.mobile.jpg', :alt => '[WORLD CITIZENS]' %><h1>
    <!-- -->
    <h2> 
        <% logo_phz = "Leadership as a Service" %>
        <% logo_phz += "\r\nWorld Citizenship Nation" %>
        <% logo_phz += "\r\n(LaaSzeN)" %>
        <% @text_content = sentence(logo_phz) %>
        <%= render 'layouts/line_breaks' %>
    </h2>
    <!-- -->
</div>
