<!DOCTYPE html>
<html><head>
    <%= render 'layouts/metas' %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/jscripts' %>
</head>
    <body class="laaszen">
        <div class="container">   
            <%= yield %>
        </div>
    </body>
</html>
